/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.page-title {
    display: inline-flex;
    padding-left: 50px;
}

.page-title a {
    text-decoration: none;
    color: black;
}

.notice {
    margin-bottom: 18px;
}

.notice.alert {
    color: red;
}

.menu-actions {
    display: inline-flex;
    align-items: end;
    float: right;
    padding-top: 33px;
    gap: 10px;
}

.menu-actions form {
    display: inline-flex;
    gap: 10px;
    margin-top: -18px;
}

form input{
    display: inline-block;
}

.header-separator {
    padding-top: 10px;
    margin-left: 50px;
    border-top: thick solid black;
}
